/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 574px) {
	.menu ul li a {
		text-align: right;
		padding-right: 0 !important;
	}
	.s_text {
    	text-align: center;
	}
	.cus_item3 {
		margin-right: 0 !important;
	}
	.md-no-display {
		display: none !important;
	}
	.s_text {
    	margin-top: 0;
	}
	.s_text h1 {
    	font-weight: bold;
    	font-size: 26px;
	}
	.f_h1 {
    	font-weight: bold;
    	text-align: center;
    	width: 100%;
    	margin: 0 auto;
	}
	.f_text {
    	width: 95%;
    	padding-top: 30px;
	}
	.mail_content {
    	text-align: center;
    	width: 80%;
    	margin: 0 auto;
	}
	.social_con {
    	width: 69%;
    	margin: 0 auto;
	}
	.s_icon_style {
    	color: yellow;
    	font-size: 40px;
    	margin-right: 12% !important;
	}
	.col_address {
    	width: 100%;
	}
	.col_link_text {
    margin-top: 10%;
    width: 50%;
}
}
@media (max-width: 320px) {
	.social_con {
    	width: 81%;
    	margin: 0 auto;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.menu ul li a {
		text-align: right;
		padding-right: 0 !important;
	}
	.md-no-display {
		display: none !important;
	}
	.mail_content {
    	text-align: center;
    	width: 80%;
    	margin: 0 auto;
	}
	.social_con {
    	width: 53%;
    	margin: 0 auto;
	}
	.row-cols-5>* {
    	width: 33%;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.col-md-5 {
    	width: 50%;
	}
	.md-no-display {
		display: none !important;
	}
	.menu ul li a {
		text-align: right;
		padding-right: 0 !important;
	}
	.s_image img {
    	left: 0;
    	width: 100%;
	}
	.mail_content {
    	text-align: center;
    	width: 80%;
    	margin: 0 auto;
	}
	.social_con {
    	width: 40%;
    	margin: 0 auto;
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.s_image img {
    	left: 12%;
	}
	#slider {
    	padding-bottom: 7px;
	}
	.carousel-indicators {
    	top: 94% !important;
	}
	.mail_content {
    	text-align: center;
    	width: 80%;
    	margin: 0 auto;
	}
	.social_con {
    	width: 30%;
    	margin: 0 auto;
	}
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) and (max-width: 2500px) {

}